TextField {
	-fx-font-family:"Malgun Gothic";
}

Label {
	-fx-font-family:"Malgun Gothic";
	-fx-font-weight:bold;
}

#profileTitle {
	-fx-font-family:"Malgun Gothic";
	-fx-font-size:30px;
	-fx-font-weight:bold;
}

TableView {
	-fx-font-family:"Malgun Gothic";
	-fx-font-size:12px;
}

Button {
	-fx-text-fill: white;
    -fx-font-family: "Malgun Gothic";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

#main {
     -fx-background-image: url("/images/background.jpg");
     -fx-background-position: center;
     -fx-background-repeat: no-repeat;
}

#chatMain {
	 -fx-background-image: url("/images/chatBackground.jpg");
}

#waitingMain {
	 -fx-background-image: url("/images/waitingBackground.jpg");
	 -fx-background-position: center;
     -fx-background-repeat: no-repeat;
}

#regMain {
	 -fx-background-image: url("/images/regBackground.jpg");
	 -fx-background-position: center;
     -fx-background-repeat: no-repeat;

}
#formMain {
	 -fx-background-image: url("/images/formBackground.jpg");
	 -fx-background-position: center;
     -fx-background-repeat: no-repeat;
}

#MyProfileMain {
	-fx-background-image: url("/images/MyProfileBackground.png");
	-fx-background-position: center;
	
}

#ProfileMain {
	-fx-background-image: url("/images/ProfileBackground.png");
	-fx-background-position: center;
	
}


